* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Titillium web', sans-serif;
}

/* header design  */

ul li {
  list-style-type: none;
}

h1 {
  font-size: 42px;
  color: #fff;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* Button design */

.btn:link,
.btn:visited,
.btn {
  background: #333;
  border-bottom: 3px solid #000;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 60px;
  display: inline-block;
  margin-top: 45px;
}

/* header section */

header {
  background: linear-gradient(rgba(135, 80, 156, 0.9),rgba(135, 80, 156, 0.9)),
  url(img/bg5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 85vh;
  position: relative;
}

.logo {
  max-height: 35px;
  width: auto;
  margin-top: 35px;
  float: left;
}

.main-nav {
  float: right;
  margin-top: 40px;
}

.main-nav li {
  display: inline-block;
  margin-left: 10px;
}

.main-nav li:first-child {
  margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(100, 58, 121, );
  padding: 6px 16px;
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
  transition: .3s;
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited {
    background: rgba(100, 58, 121, 1);
    border-radius: 3px;
}

.active {
  background: rgba(100, 58, 121, 1);
  border-radius: 3px;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.btn-hero:link,
.btn-hero:visited {
  background: #eb7d4b;
  border-color: #c86a40;
}















/* end */
